#page-wrap {
     width: 1200px;
     margin: 0 auto;
}
body {
	background: url("/media/bg5.jpg");
	background-size: 100%, 100%;
    background-repeat: no-repeat;
	}
.sub{
	margin:2px;
    width:24%;
	}

.img-circle {
	border-radius: 50%;
	width:120px;
	height:120px;
	align-self:center;
	margin-top:20px;
	margin-bottom:50px;
	}
#pd{
	text-align:center;
	}
#a,#b{
	border-left: solid #DCDCDC;
}
#container {
	margin: 20px;
	width: 200px;
	height: 200px;
	position: relative;
}
#p1{
	margin-bottom:10px;
}
.demo-list-icon {
	width: 300px;
}
@media screen and (max-width: 400px) {
    .c100 {
        float: right;
        margin-right: 5%;
    }
}
