body {
    background: url("/media/bg5.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#page-wrap {
     width:70%;
     margin: 0 auto;
     margin-top:10px;
}
#infoDiv{
    margin-bottom:15px;
}
#prog{
    height:25px;
    margin:auto;
    width:75%;
}
#prog div{
    height:25px;
}
img.img {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    max-height: 700px;
    max-width: 700px;
}
#exercise {
    width: 100%; /*Use this to control width of the parent container, hence the image*/
    margin: auto;
    margin-top:30px;
}
#ans {
    display: inline-block;
}
@media screen and (max-width: 480px) {
    body {
        background: url("media/bgphone.png");
        background-size: 100% 100%;
    }
}
@media screen and (max-width: 1280px) {
    #page-wrap {
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
    }
}